.App {
  text-align: center;
  margin-top: 5em;
}

/* spinner */
.spinner-container {
  height: 100px;
  width: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.url-input {
  text-align: left;
  margin: 3em 0 0 0;
  border-top: 1px solid #c7c7c7;
  padding: 2em 0 0 0;
}
