.App {
  text-align: center;
  margin-top: 5em;
}

/* spinner */
.spinner-container {
  height: 100px;
  width: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.d{
  color:#363636
}
